* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-list {
  width: 960px;
  margin: 50px auto;
}

.main-list-box {
  padding: 20px;
}

.main-list-box:nth-child(odd) {
  background-color: #eee;
}

.main-image {
  width: 960px;
  margin: 0 auto 50px;
  display: flex;
  flex-wrap: wrap;
}

.main-image-box {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}

.main-image-box:first-child,
.main-image-box:nth-child(5),
.main-image-box:last-child {
  background-color: #ff8c00;
}

.main-image-box:nth-child(3n) {
  margin-right: 0;
}

.main-image-box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/*　(自分の回答　２７行目から)
.main-image-box {
  width: 30%;
  height: 200px;
}

.main-image-box:nth-child(1) {
  background-color: orange;
  margin-bottom: 40px;
}

.main-image-box:nth-child(2) {
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
  margin-left: 5%;
}

.main-image-box:nth-child(3) {
  background-color: yellow;
  margin-bottom: 40px;
}

.main-image-box:nth-child(4) {
  background-color: yellow;
  margin-bottom: 40px;
}

.main-image-box:nth-child(5) {
  background-color: orange;
  margin-bottom: 40px;
  margin-right: 5%;
  margin-left: 5%;
}

.main-image-box:nth-child(6) {
  background-color: yellow;
  margin-bottom: 40px;
}

.main-image-box:nth-child(7) {
  background-color: yellow;
}

.main-image-box:nth-child(8) {
  background-color: yellow;
  margin-right: 5%;
  margin-left: 5%;
}

.main-image-box:nth-child(9) {
  background-color: orange;
}
*/